@use "palette";
$foreground: palette.$base00;
$lightForeground: palette.$base01;
$lighterForeground: palette.$base02;
$lightestForeground: palette.$base03;
$darkBackground: palette.$base04;
$background: palette.$base05;
$lightBackground: palette.$base06;
$lighterBackground: palette.$base07;
$red: palette.$base08;
$orange: palette.$base09;
$yellow: palette.$base0A;
$green: palette.$base0B;
$teal: palette.$base0C;
$blue: palette.$base0D;
$purple: palette.$base0E;
$rust: palette.$base0F;

window.Bar {
  all: unset;
  background: rgba($background, 0.3);
  color: $foreground;
  font-size: 18px;
  font-stretch: condensed;
  padding: 3px;

  * {
    all: unset;
  }

  tooltip {
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  centerbox box {

    box {
      background: $green;
      padding: 7px;
    }

    button {
      background: $green;
      padding: 7px;

      &:last-child {
        background: $blue;
      }

      &:hover {
        background: $green;
        color: $red;
      };

      &.Launcher {
        // background: $foreground;
        background: transparent;
        border: 5px solid $red;

        image {
          color: $background;
        }

        &:hover {
          background: $lightForeground;

          image {
            color: $blue;
          }
        }
      }
    }
  }
}
