@use "palette";
$foreground: palette.$base00;
$lightForeground: palette.$base01;
$lighterForeground: palette.$base02;
$lightestForeground: palette.$base03;
$darkBackground: palette.$base04;
$background: palette.$base05;
$lightBackground: palette.$base06;
$lighterBackground: palette.$base07;
$red: palette.$base08;
$orange: palette.$base09;
$yellow: palette.$base0A;
$green: palette.$base0B;
$teal: palette.$base0C;
$blue: palette.$base0D;
$purple: palette.$base0E;
$rust: palette.$base0F;

window.Bar {
  all: unset;
  color: $foreground;
  font-size: 18px;
  font-stretch: condensed;

  * {
    all: unset;
  }

  tooltip {
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  centerbox box {

    .Clock {
      background: transparent;
      border: 3px solid rgba($background, 0.3);
      // box-shadow: inset 0 0 0 50px $background;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    button {
      background: transparent;
      border: 3px solid rgba($background, 0.3);
      // padding: 7px;

      // &:last-child {
      //   background: $blue;
      // }

      &:hover {
        color: $red;
      };

      &.Launcher {
        background: rgba($foreground, 0.95);

        &:hover {
          background: $lightForeground;

          image {
            color: $blue;
          }
        }
      }

      &.Launcher box {
        // box-shadow: inset 0 0 0 10px rgba($foreground, 0.1);

        image {
          color: $background;
        }

      }
    }
  }
}
