@use "palette";

$bg: palette.$base00;
$bg-light: palette.$base01;
$bg-lighter: palette.$base02;
$bg-lightest: palette.$base03;

$fg-dark: palette.$base04;
$fg: palette.$base05;
$fg-light: palette.$base06;
$fg-lighter: palette.$base07;

$red: palette.$base08;
$orange: palette.$base09;
$yellow: palette.$base0A;
$green: palette.$base0B;
$teal: palette.$base0C;
$blue: palette.$base0D;
$purple: palette.$base0E;
$rust: palette.$base0F;

$bar-bg: rgba($bg, 0.36);

@mixin background-box($bg-color: $fg, $alpha: 0.95, $padding: 5px) {
  background: rgba($bg-color, $alpha);
  padding: $padding;
}

window.Bar {
  all: unset;
  color: $bg;
  font-size: 18px;
  font-stretch: condensed;

  * {
    all: unset;
  }

  tooltip {
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  .Spacer {
    background: $bar-bg;
    min-height: 20px;
  }

  .bottom-section {
    .bar-segment {
      border: 3px solid $bar-bg;
      border-width: 3px 3px 2px;

      >box {
        @include background-box();
      }
    }
  }

  box box {
    .Clock {
      background: transparent;
      border: solid $bar-bg;
      border-width: 1px 3px 3px;

      >box {
        @include background-box();
      }
    }

    button {
      background: transparent;
      border: solid $bar-bg;
      border-width: 1px 3px 2px;

      &:first-child {
        border-top-width: 3px;
      }

      &:last-child {
        border-bottom-width: 3px;
      }

      &.Launcher {
        >box {
          @include background-box($bg-light, 0.95);

          box image {
            color: $fg;
          }
        }

        &:hover {
          >box {
            @include background-box($bg-light);
          }

          image {
            color: $teal;
          }
        }
      }

      &.Workspace {
        >box {
          // background: rgba($fg-dark, 0.2);
          background: $bar-bg;
          padding: 5px 0;
          // @include background-box($bar-bg);
        }

        &.Active >box,
        &.Occupied >box {
          @include background-box($bg);
          color: $fg;
        }

        &.Active >box {
          @include background-box($purple);
          color: $bg;
        }

        &:hover >box {
          @include background-box($bg-light);
          color: $teal;
        }
      }
    }
  }
}
